@font-face {
    font-family: 'pixelify_sans';
    src: url('./fonts/pixelifysans-variablefont_wght-webfont.woff2') format('woff2'),
        url('./fonts/pixelifysans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: min-content 1fr;

    height: 100vh;
    font-family: 'pixelify_sans';
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.profile-picture {
    width: 45px;
    height: 45px;
    background-color: #FFD95A;
    border-radius: 100px;
}

.sidebar,
.header,
.main-content h3,
.main-content h4,
.main-content h5 {
    font-weight: 700;
}

.search-container label,
.user-settings button,
.project-actions button {
    display: flex;
    align-items: center;
    justify-items: center;
}

/* ----- Sidebar ----- */

.sidebar {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;

    font-size: 20px;
    color: seashell;
    background-color: #5C3D2E;
    /*#6F4E37;*/
}

.aside {
    flex: 1;
    display: grid;
    align-content: start;
    row-gap: 30px;
}

.dashboard-title {
    display: grid;
    grid-template-columns: 45px 1fr;
    align-items: center;
    column-gap: 10px;
    padding: 15px 10px 10px;
}

.dashboard-title img {
    width: 45px;
}

.nav-links {
    display: grid;
    row-gap: 50px;
    padding: 0 22px;
}

.nav-links-1,
.nav-links-2 {
    display: grid;
    row-gap: 20px;
}

.nav-links-1 li,
.nav-links-2 li {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    column-gap: 20px;
}

.nav-links li:hover {
    transform: translateY(-1px);
}

.nav-links li:active {
    transform: translateY(1px);
}

.attributions {
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
}

.attributions li {
    padding: 5px;
}

.sidebar a:hover {
    text-decoration: underline;
}

/* ----- Header ----- */

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: repeat(2, min-content);*/
    align-items: center;
    row-gap: 30px;
    column-gap: 5px;

    padding: 15px 30px;
    background-color: seashell;
    box-shadow: 2px 5px 5px rgb(178, 160, 149);
    z-index: 1;
}

.search-container {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    column-gap: 10px;
}

#search-bar {
    padding: 8px 15px;
    border-radius: 20px;
    border: 2px solid #5C3D2E;
    background-color: #FFEBC9;

    font-size: 15px;
    font-weight: normal;
    font-family: inherit;
}

#search-bar:focus {
    background-color: #ebd9b9;
}

.user-settings {
    justify-self: end;
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    column-gap: 25px;
}

.user-settings button,
.project-actions button {
    border: none;
    background: none;
    cursor: pointer;
}

.user-settings button:hover {
    transform: translateY(1px);
}

.user-settings button:active {
    transform: rotate(20deg);
}

.user-profile {
    display: grid;
    grid-template-columns: 45px 1fr;
    align-items: center;
    column-gap: 10px;
}

.user-profile:hover {
    transform: translateY(1px);
}

.greeting {
    display: grid;
    grid-template-columns: 65px 1fr;
    align-items: center;
    column-gap: 10px;
}

.greeting .profile-picture {
    width: 65px;
    height: 65px;
}

.greeting h2 {
    font-size: 30px;
}

.greeting p {
    font-size: 14px;
}

.user-actions {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 25px;
}

.user-actions button {
    width: 90px;
    padding: 10px;
    border: none;
    border-radius: 20px;

    font-size: 15px;
    font-weight: 600;
    font-family: inherit;
    color: seashell;
    background-color: #CD5C08;
    /* #3085C3; */
    cursor: pointer;
}

.user-actions button:hover {
    background-color: #ed6c0a;
}

.user-actions button:active {
    transform: translateY(2px);
    background-color: #ba5507;
}

/* ----- Main Content ----- */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 30px;

    padding: 30px;
    line-height: 1.5;
    font-family: 'pixelify_sans';
    background-color: #FFECD6;
    /* FFEBC9 */
}

.main-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.main-content p {
    color: #5C3D2E;
}

.announcements,
.trending-profiles {
    background-color: #EAC696;
}

.project-card,
.announcement {
    cursor: pointer;
}

/* Projects Section */

.projects-section {
    grid-row: 1 / 3;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 25px;
}

.project-card {
    display: grid;
    grid-template-rows: 1fr min-content;
    /* to standardise row sizes across cards */
    row-gap: 10px;

    height: 260px;
    padding: 25px 20px;
    background-color: #ffdeb3;
}

.project-card h4 {
    font-size: 18px;
}

.project-card p {
    font-size: 15px;
}

.project-card:hover {
    background-color: #ffd195;
    transform: scale(1.1) rotate(-2deg);
    z-index: 1;
}

.project-actions {
    align-self: end;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 25px);
    align-items: center;
    justify-items: center;
    column-gap: 25px;
}

.project-actions button:hover {
    transform: translateY(-2px);
}

.project-actions button:active {
    transform: translateY(2px);
}

.project-actions .icon {
    width: 25px;
    height: 25px;
}

/* Announcements Section */

.announcements {
    display: grid;
    /*justify-content: start;*/
    padding: 15px 20px;
    border-radius: 5px;
}

.announcement {
    padding: 15px 5px;
    border-bottom: 2px dashed #8c684c;
}

.announcement:hover {
    h5 {
        text-decoration: underline;
    }
}

.announcement:active {
    transform: translateY(1px);
}

.announcement:last-child {
    border: none;
}

.announcement h5 {
    font-size: 14px;
}

.announcement p {
    font-size: 12px;
}

/* ----- Trending Section ----- */

.trending-profiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    /*justify-content: start;*/
    gap: 20px;

    padding: 25px;
    border-radius: 5px;
}

.trending-profile {
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: min-content 1fr;
    align-items: start;
    column-gap: 10px;
}

.trending-profile:hover {
    img {
        transform: scale(1.2);
    }      
    .handle {
        transform: translateY(-1px);
    }
}

.trending-profile:active {
    transform: translateY(2px);
}

.trending-profile .profile-picture {
    grid-row: 1 / 3;
}

.trending-profile .handle {
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}

.trending-profile p {
    font-size: 13px;
}

.trending-profile:first-child .profile-picture {
    background-color: #f08080;
}

.trending-profile:nth-child(2) .profile-picture {
    background-color: #dda0dd;
}

.trending-profile:nth-child(3) .profile-picture {
    background-color: #87cefa;
}

.trending-profile:nth-child(4) .profile-picture {
    background-color: #ff8c00;
}

.trending-profile:nth-child(5) .profile-picture {
    background-color: #90ee90;
}

.trending-profile:nth-child(6) .profile-picture {
    background-color: #a322ff;
}

.filter-white {
    /* Changes colour of SVG icons to seashell-white */
    filter: invert(97%) sepia(37%) saturate(413%) hue-rotate(296deg) brightness(101%) contrast(103%);
}

/*.filter-brown {
    filter: invert(24%) sepia(21%) saturate(1396%) hue-rotate(347deg) brightness(94%) contrast(84%);
}*/

/* Pixelated borders generated from https://pixelcorners.lukeb.co.uk/ built by Luke Bonaccorsi */
.pixel-corners,
.pixel-corners--wrapper {
    clip-path: polygon(0px calc(100% - 20px),
            5px calc(100% - 20px),
            5px calc(100% - 10px),
            10px calc(100% - 10px),
            10px calc(100% - 5px),
            20px calc(100% - 5px),
            20px 100%,
            calc(100% - 20px) 100%,
            calc(100% - 20px) calc(100% - 5px),
            calc(100% - 10px) calc(100% - 5px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 5px) calc(100% - 10px),
            calc(100% - 5px) calc(100% - 20px),
            100% calc(100% - 20px),
            100% 20px,
            calc(100% - 5px) 20px,
            calc(100% - 5px) 10px,
            calc(100% - 10px) 10px,
            calc(100% - 10px) 5px,
            calc(100% - 20px) 5px,
            calc(100% - 20px) 0px,
            20px 0px,
            20px 5px,
            10px 5px,
            10px 10px,
            5px 10px,
            5px 20px,
            0px 20px);
    position: relative;
}

.pixel-corners {
    border: 5px solid transparent;
}

.pixel-corners--wrapper {
    width: fit-content;
    height: fit-content;
}

.pixel-corners--wrapper .pixel-corners {
    display: block;
    clip-path: polygon(5px 20px,
            10px 20px,
            10px 10px,
            20px 10px,
            20px 5px,
            calc(100% - 20px) 5px,
            calc(100% - 20px) 10px,
            calc(100% - 10px) 10px,
            calc(100% - 10px) 20px,
            calc(100% - 5px) 20px,
            calc(100% - 5px) calc(100% - 20px),
            calc(100% - 10px) calc(100% - 20px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 20px) calc(100% - 10px),
            calc(100% - 20px) calc(100% - 5px),
            20px calc(100% - 5px),
            20px calc(100% - 10px),
            10px calc(100% - 10px),
            10px calc(100% - 20px),
            5px calc(100% - 20px));
}

.pixel-corners::after,
.pixel-corners--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 20px),
            5px calc(100% - 20px),
            5px calc(100% - 10px),
            10px calc(100% - 10px),
            10px calc(100% - 5px),
            20px calc(100% - 5px),
            20px 100%,
            calc(100% - 20px) 100%,
            calc(100% - 20px) calc(100% - 5px),
            calc(100% - 10px) calc(100% - 5px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 5px) calc(100% - 10px),
            calc(100% - 5px) calc(100% - 20px),
            100% calc(100% - 20px),
            100% 20px,
            calc(100% - 5px) 20px,
            calc(100% - 5px) 10px,
            calc(100% - 10px) 10px,
            calc(100% - 10px) 5px,
            calc(100% - 20px) 5px,
            calc(100% - 20px) 0px,
            20px 0px,
            20px 5px,
            10px 5px,
            10px 10px,
            5px 10px,
            5px 20px,
            0px 20px,
            0px 50%,
            5px 50%,
            5px 20px,
            10px 20px,
            10px 10px,
            20px 10px,
            20px 5px,
            calc(100% - 20px) 5px,
            calc(100% - 20px) 10px,
            calc(100% - 10px) 10px,
            calc(100% - 10px) 20px,
            calc(100% - 5px) 20px,
            calc(100% - 5px) calc(100% - 20px),
            calc(100% - 10px) calc(100% - 20px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 20px) calc(100% - 10px),
            calc(100% - 20px) calc(100% - 5px),
            20px calc(100% - 5px),
            20px calc(100% - 10px),
            10px calc(100% - 10px),
            10px calc(100% - 20px),
            5px calc(100% - 20px),
            5px 50%,
            0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #9e6447;
    display: block;
    pointer-events: none;
}

.pixel-corners::after {
    margin: -5px;
}

/* ----------------------------------------------- */

.pixel-corners-2,
.pixel-corners--wrapper {
    clip-path: polygon(0px calc(100% - 20px),
            5px calc(100% - 20px),
            5px calc(100% - 10px),
            10px calc(100% - 10px),
            10px calc(100% - 5px),
            20px calc(100% - 5px),
            20px 100%,
            calc(100% - 20px) 100%,
            calc(100% - 20px) calc(100% - 5px),
            calc(100% - 10px) calc(100% - 5px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 5px) calc(100% - 10px),
            calc(100% - 5px) calc(100% - 20px),
            100% calc(100% - 20px),
            100% 20px,
            calc(100% - 5px) 20px,
            calc(100% - 5px) 10px,
            calc(100% - 10px) 10px,
            calc(100% - 10px) 5px,
            calc(100% - 20px) 5px,
            calc(100% - 20px) 0px,
            20px 0px,
            20px 5px,
            10px 5px,
            10px 10px,
            5px 10px,
            5px 20px,
            0px 20px);
    position: relative;
}

.pixel-corners-2 {
    border: 5px solid transparent;
}

.pixel-corners--wrapper {
    width: fit-content;
    height: fit-content;
}

.pixel-corners--wrapper .pixel-corners-2 {
    display: block;
    clip-path: polygon(5px 20px,
            10px 20px,
            10px 10px,
            20px 10px,
            20px 5px,
            calc(100% - 20px) 5px,
            calc(100% - 20px) 10px,
            calc(100% - 10px) 10px,
            calc(100% - 10px) 20px,
            calc(100% - 5px) 20px,
            calc(100% - 5px) calc(100% - 20px),
            calc(100% - 10px) calc(100% - 20px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 20px) calc(100% - 10px),
            calc(100% - 20px) calc(100% - 5px),
            20px calc(100% - 5px),
            20px calc(100% - 10px),
            10px calc(100% - 10px),
            10px calc(100% - 20px),
            5px calc(100% - 20px));
}

.pixel-corners-2::after,
.pixel-corners--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 20px),
            5px calc(100% - 20px),
            5px calc(100% - 10px),
            10px calc(100% - 10px),
            10px calc(100% - 5px),
            20px calc(100% - 5px),
            20px 100%,
            calc(100% - 20px) 100%,
            calc(100% - 20px) calc(100% - 5px),
            calc(100% - 10px) calc(100% - 5px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 5px) calc(100% - 10px),
            calc(100% - 5px) calc(100% - 20px),
            100% calc(100% - 20px),
            100% 20px,
            calc(100% - 5px) 20px,
            calc(100% - 5px) 10px,
            calc(100% - 10px) 10px,
            calc(100% - 10px) 5px,
            calc(100% - 20px) 5px,
            calc(100% - 20px) 0px,
            20px 0px,
            20px 5px,
            10px 5px,
            10px 10px,
            5px 10px,
            5px 20px,
            0px 20px,
            0px 50%,
            5px 50%,
            5px 20px,
            10px 20px,
            10px 10px,
            20px 10px,
            20px 5px,
            calc(100% - 20px) 5px,
            calc(100% - 20px) 10px,
            calc(100% - 10px) 10px,
            calc(100% - 10px) 20px,
            calc(100% - 5px) 20px,
            calc(100% - 5px) calc(100% - 20px),
            calc(100% - 10px) calc(100% - 20px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 20px) calc(100% - 10px),
            calc(100% - 20px) calc(100% - 5px),
            20px calc(100% - 5px),
            20px calc(100% - 10px),
            10px calc(100% - 10px),
            10px calc(100% - 20px),
            5px calc(100% - 20px),
            5px 50%,
            0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #8c684c;
    display: block;
    pointer-events: none;
}

.pixel-corners-2::after {
    margin: -5px;
}