.sidebar {
    background-color: lightskyblue;
}

.header {
    background-color: lightpink;
}

.main-content {
    background-color: lightgreen;
}

.header-main-container {
    background-color: lightgray;
}