html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'robotoregular';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('./fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('./fonts/roboto-bold-webfont.woff2') format('woff2'),
        url('./fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'press_start_2pregular';
    src: url('./fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('./fonts/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vt323regular';
    src: url('./fonts/vt323-regular-webfont.woff2') format('woff2'),
         url('./fonts/vt323-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixelify_sans';
    src: url('./fonts/pixelifysans-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/pixelifysans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: min-content 1fr; 
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* ----- Sidebar ----- */

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    align-content: start;
    row-gap: 30px;

    font-size: 20px;
    font-weight: 700;
    font-family: 'pixelify_sans';
    color: #ffffff;
    background-color: #1892d4;
}

.dashboard-title {
    display: grid;
    grid-template-columns: 45px 1fr;
    align-items: center;
    column-gap: 10px;
    padding: 15px 10px 10px;
}

.dashboard-title img {
    width: 45px;
}

.nav-links {
    display: grid;
    row-gap: 50px;
    padding: 0 22px;
}

.nav-links-1,
.nav-links-2 {
    display: grid;
    row-gap: 20px;
}

.nav-links-1 li,
.nav-links-2 li {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    column-gap: 20px;
}

.icon {
    width: 20px;
    height: 20px;
}

.filter-white { /* Changes colour of SVG icons to white */
    filter: invert(100%) sepia(0%) saturate(7420%) hue-rotate(127deg) brightness(95%) contrast(115%);
}

/* ----- Header ----- */

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: repeat(2, min-content);*/
    align-items: center;
    row-gap: 30px;
    column-gap: 5px;

    padding: 15px 30px;
    font-family: 'pixelify_sans';
    font-weight: 700;
    background-color: #ffffff;
}

.search-container {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    column-gap: 10px;
}

.search-container label {
    display: flex;
    align-items: center;
}

#search-bar {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #e2e8f0;
    font-size: 15px;
    font-weight: normal;
    font-family: inherit;
}

.user-settings {
    justify-self: end;
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    column-gap: 25px;
}

.user-profile {
    display: grid;
    grid-template-columns: 45px 1fr;
    align-items: center;
    column-gap: 10px;
}

.user-profile a {
    font-size: 18px;
}

.profile-picture {
    width: 45px;
    height: 45px;
    background-color: #add8e6;
    border-radius: 100px;
}

.greeting {
    display: grid;
    grid-template-columns: 65px 1fr;
    align-items: center;
    column-gap: 10px;
}

.greeting .profile-picture {
    width: 65px;
    height: 65px;
}

.greeting h2 {
    font-size: 30px;
}

.greeting p {
    font-size: 14px;
}

.user-actions {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 25px;
}

.user-actions button {
    width: 90px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-family: inherit;
    color: #ffffff;
    background-color: #1892d4;
    cursor: pointer;
}

/* ----- Main Content ----- */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 30px;
    
    padding: 30px;
    line-height: 1.5;
    font-family: 'pixelify_sans';
    background-color: #e2e8f0;
}

.main-content h3,
.main-content h4,
.main-content h5 {
    font-weight: 700;
}

.main-content h3 {
    font-size: 22px;
}

/* Projects Section */

.projects-section {
    grid-row: 1 / 3;
}

.projects-section h3 {
    margin-bottom: 10px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 25px;
}

.project-card {
    display: grid; 
    grid-template-rows: 1fr min-content; /* to standardise row sizes across cards */
    row-gap: 10px;

    height: 260px;
    padding: 25px 20px;
    background-color: seashell;
}

.project-card h4 {
    font-size: 18px;
}

.project-card p {
    font-size: 15px;
    color: #808080;
}

.project-actions {
    align-self: end;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 25px);
    align-items: center;
    justify-items: center;
    column-gap: 25px;
}

.project-actions button {
    border: none;
    background: none;
    cursor: pointer;
}

.project-actions .icon {
    width: 25px;
    height: 25px;
}

/* Announcements Section */

.announcements-section h3 {
    margin-bottom: 10px;
}

.announcements {
    display: grid;
    /*justify-content: start;*/
    padding: 15px 20px;
    border-radius: 5px;
    background-color: seashell;
}

.announcement {
    padding: 15px 5px;
    border-bottom: 2px dashed goldenrod;
}

.announcement:last-child {
    border: none;
}

.announcement h5 {
    font-size: 14px;
}

.announcement p {
    font-size: 12px;
    color: #808080;
}

/* ----- Trending Section ----- */

.trending-section h3 {
    margin-bottom: 10px;
    font-family: 'pixelify_sans';
}

.trending-profiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    /*justify-content: start;*/    
    padding: 25px;
    border-radius: 5px;
    background-color: seashell;
    gap: 20px;
}

.trending-profile {
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: min-content 1fr;
    align-items: start;
    column-gap: 10px;
}

.trending-profile .profile-picture {
    grid-row: 1 / 3;
}

.trending-profile .handle {
    font-size: 15px;
    font-weight: 700px;
    color: black;
}

.trending-profile p {
    font-size: 13px;
    color: #808080;
}

.trending-profile:first-child .profile-picture {
    background-color: #f08080;
}

.trending-profile:nth-child(2) .profile-picture {
    background-color: #dda0dd;
}

.trending-profile:nth-child(3) .profile-picture {
    background-color: #87cefa;
}

.trending-profile:nth-child(4) .profile-picture {
    background-color: #ff8c00;
}

.trending-profile:nth-child(5) .profile-picture {
    background-color: #90ee90;
}

.trending-profile:nth-child(6) .profile-picture {
    background-color: #a322ff;
}

/* Pixelated borders generated from https://pixelcorners.lukeb.co.uk/ built by Luke Bonaccorsi */

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    5px calc(100% - 20px),
    5px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 5px),
    20px calc(100% - 5px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 5px,
    10px 5px,
    10px 10px,
    5px 10px,
    5px 20px,
    0px 20px);
  position: relative;
}
.pixel-corners {
  border: 5px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(5px 20px,
    10px 20px,
    10px 10px,
    20px 10px,
    20px 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 5px),
    20px calc(100% - 5px),
    20px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 20px),
    5px calc(100% - 20px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    5px calc(100% - 20px),
    5px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 5px),
    20px calc(100% - 5px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 5px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 10px),
    calc(100% - 5px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 5px,
    10px 5px,
    10px 10px,
    5px 10px,
    5px 20px,
    0px 20px,
    0px 50%,
    5px 50%,
    5px 20px,
    10px 20px,
    10px 10px,
    20px 10px,
    20px 5px,
    calc(100% - 20px) 5px,
    calc(100% - 20px) 10px,
    calc(100% - 10px) 10px,
    calc(100% - 10px) 20px,
    calc(100% - 5px) 20px,
    calc(100% - 5px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 20px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 10px),
    calc(100% - 20px) calc(100% - 5px),
    20px calc(100% - 5px),
    20px calc(100% - 10px),
    10px calc(100% - 10px),
    10px calc(100% - 20px),
    5px calc(100% - 20px),
    5px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: goldenrod;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -5px;
}


